body{
    font-family: 'Arial','Times New Roman', Times, serif;
    justify-content: center;
    background: url(../img/surtido-papeleria-material-natural.jpg) no-repeat;
    background-size: cover;
}

.contenedor_pantallas,
.contenedor_pincipal_botones,
.contenedor_botones,
.contenedor_fila_botones_c_x,
.contenedor_numeros_y_punto_e_igual,
.columna_1,
.columna_2,
.columna_3,
.contenedor_columna_operaciones,
.contenedor_botnes_row,
.boton_c_borra_todo,
.boton_x_borra_un_elemento,
.txtMostrarSelecionesAOperar,
.txtMostrarSolucion,
.btn,
.contenedor_fila_botones_c_x .btn,
.pantalla_operaciones,
.pantalla_resultado{
    display: flex;
    flex: 1 1 auto;
}

.contenedor_principal,
.contenedor_pantallas,
.columna_1,
.columna_2,
.columna_3,
.columna_4,
.contenedor_botones,
.contenedor_columna_operaciones{
    flex-direction: column;
}

.contenedor_principal,
.btn,
body{
    display: flex;
}

.txtMostrarSelecionesAOperar,
.txtMostrarSolucion{
    align-items: flex-end;
    height: 35px;
    font-size: 20px;
}

.txtMostrarSelecionesAOperar{
    overflow-x: scroll;
}

.txtMostrarSelecionesAOperar::-webkit-scrollbar{
background: none;
}

.txtMostrarSelecionesAOperar::-webkit-scrollbar-thumb{
background:rgb(204, 204, 204);
border-radius: 20px;
border: 2px solid rgb(255, 192, 110); 
}

.contenedor_principal{
    width: 250px;
    height: 460px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 15px;
    margin: 100px 10px;
}

.btn{
    align-items: center;
    font-size: 18px;
    background: rgb(200, 200, 200);
    width: 55px;
    padding: 15px;
    margin: 5px 3.5px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border: none;
}

.btn:hover{
    background-color: rgb(238, 238, 238);
}
.btn:active{
    background-color: bisque;
}

.contenedor_pantallas{
    background: rgb(255, 192, 110);
    border-radius: 10px;
    padding: 0px 5px;
}